.admin_res_parent{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 2px solid red;
    margin:10rem 6rem;
    border-radius: 10rem;
    background-image: url("./Images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility:visible;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    /* background-color: goldenrod; */
    /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
}
.main_div_admin_res{
    display: flex;
    /* border: 2px solid green; */
    justify-content:space-around;
    align-items: center;
    margin:5rem 5rem;
}
.partition_admin_res1{
    font-size: 4rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    /* border: 3px solid orange; */
    justify-content: center;
    text-align: center;
}
.other_info{
    /* border: 3px solid red;; */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: center;
}

.other_info h3{
    font-size: 4rem;
    padding: 2rem;
}
.partition_admin_res2{
    flex: 2;
    display: flex;
    flex-direction: column;
    /* border: 3px solid yellow; */
    justify-content: space-evenly;
    min-height: 30rem;
    text-align: center;
}
.info1{
    display: flex;

}
.div_for_image{
    text-align: center;
    /* border: 2px solid black; */
    height: 30rem;
    width: 100%;
    border-radius: 5rem;

}
.image{
    height: 100%;
    width: 80%; 
}

.aplbtn{
    width: 25%;
    padding: 1rem;
}
.other_info{
    /* border: 2px solid red; */
    margin-top: 5rem;
}

.info2{
    margin: 0rem 4rem;
}

.info2 h3{
    font-size: 3rem;
    padding: 2rem;
}
.info2 button{
    font-size: 3rem;
    padding: 2rem;
}

/* add item modal */

.modal_content{
    font-size: 2rem;
}
.modal_title{
    font-size: 2rem;
}
.modal_inpt{
    font-size: 2rem;
}
.modal_check{
    border: 3px solid black;
    width: 2rem;
    height: 2rem;
}
@media screen and (max-width: 1250px) {
    .menu_at_res_main{
      height:560vh ;
    }
  }  

  @media screen and (max-width: 425px) {
    .div_for_image{
        width: 100%;
    }
    .admin_res_parent{
        margin-left: 0;
        margin-right: 0;
    }
  }  