.main_mobile_div{
    background-color:white;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    height: 80vh;
    width: 35rem;
    border-radius: 5rem;
}
.div_top{
    flex:1;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
.div_top .div_1{
    margin: 1rem;
    border:2px solid black;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}

.div_top .div_2{
    margin: 1rem;
    border:2px solid black;
    border-radius: 5rem;
    height: 1rem;
    width: 5rem;
}
.div_medium{
    flex: 6;
    /* border: 2px solid yellow; */
    height: 5rem;
    /* background-image: url('./images/side1.jpg'); */
    background-size: 100% 100%;
}

.bottom_div{
    flex:1;
    /* border: 2px solid green; */
    border-top: 2px solid black;
    display: flex;
    justify-content: space-around;
}

.bottom_div .bottom_1{
    margin: 1rem;
    border: 2px solid black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.bottom_div .bottom_2{
    margin: 1rem;
    border: 2px solid black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.bottom_div .bottom_3{
    margin: 1rem;
    border: 2px solid black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}



/* media queries */

@media screen and (max-width:1250px){
    .main_mobile_div{
        height: 120vh;
        width: 45rem;
    }
}